/*=================================
===================================
              Color
===================================
===================================
*/

/*   #B0A295
      #5D5c61
      #379683
      #7395AE
      #557A95
      #b1a296
 */

body {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

/*=================================
===================================
              Home
===================================
===================================
*/

#home {
  height: 100vh;
  width: 100%;
  background-image: url("../images/home.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#home > * {
  z-index: 10;
}

#home::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: 0;
}

#home-content {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

#home-content-inner {
  position: absolute;
  top: 25%;
  color: white;
}

#home-content-inner h3 {
  font-size: 65px;
  font-weight: 100;
}

#home-content-inner h3 span {
  font-weight: 1000;
  color: #557a95;
}

#home-content-inner {
}

#home-content-inner h5 {
  font-size: 30px;
  font-weight: 100;
  font
}

#btn-home {
  border-radius: 30px;
  color:white;
  font-weight: 800;
  border: 1px solid white;
}

#btn-home:hover {

  background-color: #557a95;
  border:  1px solid #557a95 ;
  font-family: "Montserrat", sans-serif;
  


  }

  #btn-home p {
    color: black;
  }

  #arrow-down {
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }


  
  #arrow-down a {
    font-size: 40px;
    color: white;
  }

    #arrow-down a:hover {
      color:#557a95 ;
    }